* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #302C1F;
}

/*header and logo*/

h1 {
    font-family: "fira sans", sans-serif;
    color: #B7C64F;
    letter-spacing: 5px;
    font-size: 70px;
    margin: 3rem;
    text-align: center;
}

/* Quiz questions and answers*/

.container {
width: 100vw;
margin: 0 auto;
justify-items: center;
align-items: center;
padding: 2rem;
max-width: 80rem;
}

#question {
    color: #E9F1C1;
    font-family: "Fira-sans", sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    text-align: center;
}

input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: #E9F1C1;
    border: 3px solid #B7C64F;
    width: 24px;
    height: 24px;
    padding: 10px;
    
}

input[type='radio']:checked {
    background: #8A5E24;
  }

/*label {
    background-color: #E9F1C1;
    font-family: "open sans", sans-serif;
    width: 100%;
    border-radius: 4px;
    border: 3px solid #B7C64F;
    padding: 10px 20px;
}*/

.options {
    display: inline-block;
    background-color: #E9F1C1;
    font-family: "open sans", sans-serif;
    width: 80%;
    border: 3px solid #B7C64F;
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 400;

}
.form-radio-item, .form-checkbox-item {
    width: 100% !important;
    max-width: none !important;
    }

/*Submit answer button*/
  
#submit {
    font-size: 20px;
    padding: 10px;
    font-family: "open sans", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color:#E9F1C1;
    background-color: #8A5E24;
    margin-top: 20px;
    border: #8A5E24;
    width: 100%;
}

#submit:hover {
    background-color: #B7C64F;
    color:#8A5E24;
    border: #B7C64F;
}


/*Final Screen- Game over*/
.end-quiz {
    font-family: "fira sans", sans-serif;
    text-align: center;
    color: #E9F1C1;
    padding: 15px;
}
#congrats {
    font-size: 50px;
    letter-spacing: 2px;
    color: #B7C64F;
}

#complete {
    font-size: 35px;

}

#final-score {
    font-size: 25px;
    text-align: center;
}

#play-again {
    display: block;
    font-size: 20px;
    padding: 10px;
    font-family: "open sans", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color:#E9F1C1;
    background-color: #8A5E24;
    margin-top: 20px;
    border: #8A5E24;
    width: 100%;
}

/*Progress bar*/

#progress-bar {
    width: 50vw;
    background-color: #E9F1C1;
}

#my-bar {
    width: 0.5%;
    height: 10px;
    background-color: #B7C64F;
    border: #8A5E24;
    padding: 5px;
}

/*Footer*/

.social-networks {
    text-align: center;
    text-decoration: none;
    margin: 50px 20px;
}

.social-networks li {
    text-align: center;
    text-decoration: none;
    display: inline;
}

.social-networks i {
    color: #B7C64F;
    font-size: 1.5rem;
    margin: 2px;
    padding: 5px;
}